.headerContainer {

    margin-top: 2rem ;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    // border: 1px solid black;
    .logo {
        height: 3rem;
        width: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #ccc;
    }

    .busca {
        height: 2rem;
        min-width: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;

        // border: 1px solid black;

        input {
            width: 90%;
            height: 2rem;

            padding-left: 1rem;

            border: 1px solid #ced4da;
            border-radius: 35px;
        }

        i {
            font-size: 1.6rem;
        }
    }

    i {
        font-size: 1.7rem;
        cursor: pointer;
    } 
    
}

.mainContainer {
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 3rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    background-color: #fff;
    
    .info {
        width: 100%;
        max-width: 1440px;
        padding: 1rem;

        > h2 {
            text-align: center;
            margin-bottom: .6rem;
        }
    }

    .tableContainer {
        width: 100%;
        max-width: 1440px;
        padding: 0 1rem;

        display: flex;
        align-items: center;
        justify-content: space-around;

        // border: 1px solid red;
        
        .btnContainer {
            height: 31.43rem;
            max-height: 75%;
            width: 25%;


            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            background: #f8f8f8;
            border: 1px solid #ced4da;
            border-radius: 3px;

            i {
                padding-right: 4px;
            }

          

            button {
                height: 3.5rem;
                width: 80%;

                font-size: 1rem;

                border: none;
                border-radius: 8px;
                background-color: #00913cbd;
                cursor: pointer;

                a {
                    height: 100%;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;

                    // border: 1px solid red;
                }
            }

            div {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-around;

                button {
                    height: 3.5rem;
                    width: 40%;
                    background-color: #0a57cab2;

                    color: #fff;
                    font-weight: 600;
                }
            }
    

        }
    }
}