
.headerContainer {

    display: flex;
    align-items: center;
    justify-content: space-around;

    // border: 1px solid red;

    & h2 {
        font-size: 1.6rem;
    }

    & i {
        font-size: 2rem;

        cursor: pointer;
    }
}